# Equal-Weight S&P 500 Index Fund

## Library Imports

Importing all the libraries which we'll be needing.

In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
import numpy as np
import pandas as pd
import requests
import xlsxwriter
import math

## Importing Our List of Stocks

In [2]:
stocks = pd.read_csv('sp_500_stocks.csv')

## Acquiring an API Token

We use IEX Cloud API to gather all stock related data which we'll be using.
We store API key in a file named mysecrets.

In [3]:
from mysecrets import IEX_CLOUD_API_TOKEN

## Making Our First API Call

In [4]:
stockSymbol='AAPL'
api_url=f'https://sandbox.iexapis.com/stable/stock/{stockSymbol}/quote?token={IEX_CLOUD_API_TOKEN}'
data = requests.get(api_url).json()

## Parsing Our API Call

The API call that we executed in the last code block contains all of the information required to build our equal-weight S&P 500 strategy. 

We need to parse it and gather only data which we need i.e, Stock price & Market Capitalization.

In [5]:
price = data['latestPrice']
marketCap = data['marketCap']

## Adding Our Stocks Data to a Pandas DataFrame

The next thing we need to do is add our stock's price and market capitalization to a pandas DataFrame.

In [6]:
my_columns=['Ticker','Stock Price','Market Capitalization']
final_dataframe = pd.DataFrame(columns=my_columns)
final_dataframe

Empty DataFrame
Columns: [Ticker, Stock Price, Market Capitalization]
Index: []

In [7]:
final_dataframe.append(
    pd.Series(
        [
            stockSymbol,
            price,
            marketCap
            
        ],
        index=my_columns
    ),
    ignore_index=True
)

  Ticker Stock Price Market Capitalization
0   AAPL         176         2832369629083

## Looping Through The Tickers in Our List of Stocks

Instead of the above code we can use loop and collect data for all the stocks.

In [8]:
final_dataframe = pd.DataFrame(columns = my_columns)
for stockSymbol in stocks['Ticker'][:50]:
    api_url = f'https://sandbox.iexapis.com/stable/stock/{stockSymbol}/quote?token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(api_url).json()
    final_dataframe = final_dataframe.append(
                                        pd.Series([stockSymbol,
                                                   data['latestPrice'], 
                                                   data['marketCap'],
                                                  ],
                                                  index = my_columns), 
                                        ignore_index = True)

In [9]:
final_dataframe

   Ticker  Stock Price Market Capitalization
0       A       142.44           42946964905
1     AAL        15.22            9924446017
2     AAP       212.41           13161632820
3    AAPL       176.13         2880490066457
4    ABBV       145.45          254452673458
5     ABC       152.76           32132890971
6    ABMD       294.56           13214733421
7     ABT       110.90          197970483992
8     ACN       319.29          218454693824
9    ADBE       449.59          210813028350
10    ADI       170.88           91998675182
11    ADM        88.64           49529305261
12    ADP       266.55          110596594867
13   ADSK       230.90           50071044883
14    AEE        97.00           25522477824
15    AEP       106.42           54037679292
16    AES        25.58           16856584437
17    AFL        66.40           40974276710
18    AIG        58.73           44400633264
19    AIV         9.40            1447104016
20    AIZ       175.49            9252388492
21    AJG       191.56           41766569005
22   AKAM        99.40           15587530293
23    ALB       289.09           32572980299
24   ALGN       289.54           22647085143
25    ALK        47.45            6003838592
26    ALL       132.32           36462331988
27   ALLE       111.66            9619489771
28   ALXN       187.70           42151144915
29   AMAT       106.78           92405381686
30   AMCR        13.42           20041102849
31    AMD        98.79          160650899736
32    AME       132.10           30323601078
33   AMGN       254.48          137121009516
34    AMP       301.12           31569927796
35    AMT       289.91          132448261911
36   AMZN       145.74         1503389091607
37   ANET       133.46           39717133057
38   ANSS       281.65           24939784175
39   ANTM       499.54          118617186965
40    AON       307.00           63931560830
41    AOS        64.75           10866956729
42    APA        34.88           11410443442
43    APD       269.00           61379769992
44    APH        83.55           47439696391
45   APTV       107.10           29635266314
46    ARE       174.75           29091096394
47    ATO       119.22           16539387022
48   ATVI        81.98           63357891397
49    AVB       223.40           31713289005

## Calculating the Number of Shares to Buy

In [10]:
portfolio_size=input('Enter the size of your portfolio:')

try:
    val=float(portfolio_size)
except ValueError:
    print("That's not a number! \n Try again:")
    portfolio_size = input("Enter the value of your portfolio:")
    val=float(portfolio_size)

Enter the size of your portfolio:1000000

In [11]:
position_size=val/len(final_dataframe.index)
for i in range(0, len(final_dataframe['Ticker'])-1):
    final_dataframe.loc[i, 'Number Of Shares to Buy'] = math.floor(position_size / final_dataframe['Stock Price'][i])
final_dataframe

   Ticker  Stock Price Market Capitalization  Number Of Shares to Buy
0       A       142.44           42946964905                    140.0
1     AAL        15.22            9924446017                   1314.0
2     AAP       212.41           13161632820                     94.0
3    AAPL       176.13         2880490066457                    113.0
4    ABBV       145.45          254452673458                    137.0
5     ABC       152.76           32132890971                    130.0
6    ABMD       294.56           13214733421                     67.0
7     ABT       110.90          197970483992                    180.0
8     ACN       319.29          218454693824                     62.0
9    ADBE       449.59          210813028350                     44.0
10    ADI       170.88           91998675182                    117.0
11    ADM        88.64           49529305261                    225.0
12    ADP       266.55          110596594867                     75.0
13   ADSK       230.90           50071044883                     86.0
14    AEE        97.00           25522477824                    206.0
15    AEP       106.42           54037679292                    187.0
16    AES        25.58           16856584437                    781.0
17    AFL        66.40           40974276710                    301.0
18    AIG        58.73           44400633264                    340.0
19    AIV         9.40            1447104016                   2127.0
20    AIZ       175.49            9252388492                    113.0
21    AJG       191.56           41766569005                    104.0
22   AKAM        99.40           15587530293                    201.0
23    ALB       289.09           32572980299                     69.0
24   ALGN       289.54           22647085143                     69.0
25    ALK        47.45            6003838592                    421.0
26    ALL       132.32           36462331988                    151.0
27   ALLE       111.66            9619489771                    179.0
28   ALXN       187.70           42151144915                    106.0
29   AMAT       106.78           92405381686                    187.0
30   AMCR        13.42           20041102849                   1490.0
31    AMD        98.79          160650899736                    202.0
32    AME       132.10           30323601078                    151.0
33   AMGN       254.48          137121009516                     78.0
34    AMP       301.12           31569927796                     66.0
35    AMT       289.91          132448261911                     68.0
36   AMZN       145.74         1503389091607                    137.0
37   ANET       133.46           39717133057                    149.0
38   ANSS       281.65           24939784175                     71.0
39   ANTM       499.54          118617186965                     40.0
40    AON       307.00           63931560830                     65.0
41    AOS        64.75           10866956729                    308.0
42    APA        34.88           11410443442                    573.0
43    APD       269.00           61379769992                     74.0
44    APH        83.55           47439696391                    239.0
45   APTV       107.10           29635266314                    186.0
46    ARE       174.75           29091096394                    114.0
47    ATO       119.22           16539387022                    167.0
48   ATVI        81.98           63357891397                    243.0
49    AVB       223.40           31713289005                      NaN

## Formatting Our Excel Output

We will be using the XlsxWriter library for Python to create nicely-formatted Excel files.



### Initializing our XlsxWriter Object

In [12]:
writer = pd.ExcelWriter('trades.xlsx', engine='xlsxwriter')
final_dataframe.to_excel(writer , 'Trades', index=False)

### Creating the Formats We'll Need For Our `.xlsx` File

We'll need four main formats for our Excel document:
* String format for tickers
* \\$XX.XX format for stock prices
* \\$XX,XXX format for market capitalization
* Integer format for the number of shares to purchase

In [13]:
string_format = writer.book.add_format(
        {
            'border': 1
        }
    )

dollar_format = writer.book.add_format(
        {
            'num_format':'$0.00',
            'border': 1
        }
    )

integer_format = writer.book.add_format(
        {
            'num_format':'0',
            'border': 1
        }
    )

### Applying the Formats to the Columns of Our `.xlsx` File

We can use the `set_column` method applied to the `writer.sheets['Recommended Trades']` object to apply formats to specific columns of our spreadsheets.

Here's an example:

```python
writer.sheets['Recommended Trades'].set_column('B:B', #This tells the method to apply the format to column B
                     18, #This tells the method to apply a column width of 18 pixels
                     string_template #This applies the format 'string_template' to the column
                    )
```

In [14]:
column_formats = { 
                    'A': ['Ticker', string_format],
                    'B': ['Price', dollar_format],
                    'C': ['Market Capitalization', dollar_format],
                    'D': ['Number of Shares to Buy', integer_format]
                    }

for column in column_formats.keys():
    writer.sheets['Trades'].set_column(f'{column}:{column}', 20, column_formats[column][1])
    writer.sheets['Trades'].write(f'{column}1', column_formats[column][0], string_format)

## Saving Our Excel Output

Saving our Excel file is very easy:

In [15]:
writer.save()